*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

#eDashboardBody{
    height: 100vh;
    width: 100vw;
}

.eNav-button{
    background: none;
    border: none;
    font-size: 1.7rem;
    padding: 0 10px;
}

#eSidenav{
    position: absolute;
    top: 60.52px;
    left: -100%;
    width: 80vw;
    height: 100vh;
    background-color: rgb(251, 251, 251);
    z-index: 990;
    padding-top: 10px;
    transition: .3s cubic-bezier(0.99, -0.07, 0.38, 0.49);
}

.eSidenav-menu{
    list-style: none;
    position: relative;
    padding: 0 0.2rem;
    margin: 0;
}

.eSidenav-menu-item{
    position: relative;
}

.eSidenav-menu-link{
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    cursor: pointer;
    font-size: .89rem;
    padding: 1rem 1.5rem;
    height: 3rem;
    color: unset;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 5px;
    transition: all .3s linear;
}

.eSidenav-menu-link:hover{
    color: #262626;
    background-color: rgb(38, 38, 38, .05);
}

.eSidenav-menu-dropdown-icon{
    position: absolute;
    right: 0;
    margin-left: auto;
    margin-right: 0.8rem;
    transition: transform .3s;
}

.eSidenav-menu-collapse{
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
    height: 0;
    overflow: hidden;
}

.eSidenav-menu-collapsing{
    -webkit-transition: height .35s ease;
    -moz-transition: height .35s ease;
    -ms-transition: height .35s ease;
    -o-transition: height .35s ease;
    transition: height .35s ease;
}

.eSidenav-menu-link-collapse{
    font-size: .78rem;
    height: 1.5rem;
    padding-left: 3rem;
}

#eContainer{
    height: 100vh;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #eSidenav{
        width: 50vw;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #eSidenav{
        width: 30vw;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #eSidenav{
        width: 20vw;
    }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    
}