<nav id="eSidenav">
    <div class="mt-4">
        <div id="eSidenav-header" class="ps-3">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(23).jpg" alt="avatar"
                class="rounded-circle img-fluid mb-3" style="max-width: 50px;">
            <h4>
                <span style="white-space: nowrap;">GG Metal</span>
            </h4>
            <p>contato@ggmetal.com.br</p>
        </div>
        <hr class="mb-0">
    </div>
    <div class="position-relative ps">
        <ul class="eSidenav-menu">
            <li class="eSidenav-menu-item">
                <a href="" class="eSidenav-menu-link">
                    <i class="fa-solid fa-envelope pe-3"></i> Inbox
                </a>
            </li>
            <li class="eSidenav-menu-item">
                <a href="" class="eSidenav-menu-link">
                    <i class="fa-solid fa-paper-plane pe-3"></i> Outbox
                </a>
            </li>
            <li class="eSidenav-menu-item eSidenav-menu-link-toggle">
                <a class="eSidenav-menu-link" role="button" tabindex="1">
                    <i class="fa-solid fa-address-book pe-3"></i> Contacts
                    <i class="fa-solid fa-chevron-down eSidenav-menu-dropdown-icon"></i>
                </a>
                <ul class="eSidenav-menu-collapse d-none" data-expanded="false">
                    <li class="eSidenav-menu-item">
                        <a href="fd" class="eSidenav-menu-link eSidenav-menu-link-collapse" tabindex="1">Family</a>
                    </li>
                    <li class="eSidenav-menu-item">
                        <a href="fd" class="eSidenav-menu-link eSidenav-menu-link-collapse" href="/previews/mdb-ui-kit/sidenav/2.html"
                            tabindex="1">Friends</a>
                    </li>
                    <li class="eSidenav-menu-item">
                        <a href="fd" class="eSidenav-menu-link eSidenav-menu-link-collapse" tabindex="1">Work</a>
                    </li>
                </ul>
            </li>
            <li class="eSidenav-menu-item">
                <a href="" class="eSidenav-menu-link">
                    <i class="fa-solid fa-paper-plane pe-3"></i> Outbox
                </a>
            </li>
            <li class="eSidenav-menu-item">
                <a href="" class="eSidenav-menu-link">
                    <i class="fa-solid fa-paper-plane pe-3"></i> Outbox
                </a>
            </li>
            <li class="eSidenav-menu-item eSidenav-menu-link-toggle">
                <a class="eSidenav-menu-link" role="button" tabindex="1">
                    <i class="fa-solid fa-address-book pe-3"></i> Contacts
                    <i class="fa-solid fa-chevron-down eSidenav-menu-dropdown-icon"></i>
                </a>
                <ul class="eSidenav-menu-collapse d-none" data-expanded="false">
                    <li class="eSidenav-menu-item">
                        <a class="eSidenav-menu-link eSidenav-menu-link-collapse" tabindex="1">Family</a>
                    </li>
                    <li class="eSidenav-menu-item">
                        <a class="eSidenav-menu-link eSidenav-menu-link-collapse" href="/previews/mdb-ui-kit/sidenav/2.html"
                            tabindex="1">Friends</a>
                    </li>
                    <li class="eSidenav-menu-item">
                        <a class="eSidenav-menu-link eSidenav-menu-link-collapse" tabindex="1">Work</a>
                    </li>
                </ul>
            </li>
            <li class="eSidenav-menu-item">
                <a href="" class="eSidenav-menu-link">
                    <i class="fa-solid fa-paper-plane pe-3"></i> Outbox
                </a>
            </li>
        </ul>
    </div>
</nav>