<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-Fiscalize | {% block page_title %}{% endblock page_title %}</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/media/dashboard/E-Fiscal.png">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/dashboard.css">
    {% block head %}
    {% endblock head %}
</head>
<body>

    {% include "partials/template.nav.html" %}
    {% include "partials/template.sidenav.html" %}
    
    {% block content %}
    {% endblock content %}

    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"></script>
    <script src="https://kit.fontawesome.com/169ea3b67d.js" crossorigin="anonymous"></script>
    <script src="/static/js/jquery-3.6.3.min.js"></script>

    {% block script %}
    {% endblock script %}
    <script>

        $(document).on('click', '#eContainer', function(){
            let sideNav = $('#eSidenav')
            let button = $('#eNav-button-toggle')
            let isOpenSideNav = $('#eNav-button-toggle').data('isopen')
    
            if(isOpenSideNav){
                sideNav.css('left', '-100%')
                $(button).data('isopen', false)
                setTimeout(() => $(button).html('<i class="fa-solid fa-bars"></i>'), 120)
            }
        })
    
        function openSideNav(button){
            let sideNav = $('#eSidenav')
            let isOpenSideNav = $(button).data('isopen')
        
            if(isOpenSideNav){
                sideNav.css('left', '-100%')
                $(button).data('isopen', false)
                setTimeout(() => $(button).html('<i class="fa-solid fa-bars"></i>'), 120)
            } else {
                sideNav.css('left', '0')
                $(button).data('isopen', true)
                setTimeout(() => $(button).html('<i class="fa-solid fa-xmark"></i>'), 300)
            }
        }
    
        $('.eSidenav-menu-link-toggle').click(function(e){
            let is_expanded = $(this).find('ul').attr('data-expanded')
            let ul = $(this).find('ul')
            let icon = $(this).find('a .eSidenav-menu-dropdown-icon')
            if(is_expanded == 'true'){
                ul.attr('style', '')
                ul.attr('data-expanded', 'false')
                icon.attr('style', 'transform: rotate(0deg);')
                setTimeout(function() {
                    ul.addClass('d-none')
                    ul.removeClass('eSidenav-menu-collapsing')
                }, 350)
            } else {
                ul.addClass('eSidenav-menu-collapsing')
                ul.removeClass('d-none')
                icon.attr('style', 'transform: rotate(180deg);')
                setTimeout(function(){
                    ul.css({'height': '96px'})
                    ul.attr('data-expanded', 'true')
                }, 25)
            }
        })

    </script>
</body>
</html>