<div id="eSidenav-button">
    <button 
        class="btn btn-primary btn-lg btn-floating" 
        onclick="openSideNav(this)" 
        data-isopen="false"
        id="eSidenav-button-bars"
    >
    <i class="fas fa-xmark"></i>
    </button>
</div>
<nav id="eSidenav">
    <div id="eSidenav-header">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(23).jpg" alt="avatar" class="rounded-circle img-fluid mb-3" style="max-width: 50px;">
    </div>
</nav>

<script>

    $(document).on('click', '#eContainer', function(){
        let sideNav = $('#eSidenav')
        let button = $('#eSidenav-button-bars')
        let isOpenSideNav = $('#eSidenav-button-bars').data('isopen')

        if(isOpenSideNav){
            sideNav.css('left', '-100%')
            $(button).data('isopen', false)
        }
    })

    function openSideNav(button){
        let sideNav = $('#eSidenav')
        let isOpenSideNav = $(button).data('isopen')
    
        if(isOpenSideNav){
            sideNav.css('left', '-100%')
            $(button).data('isopen', false)
        } else {
            sideNav.css('left', '0')
            $(button).data('isopen', true)
        }
    }

</script>